h1 {
    text-align: center;
    font-weight: 300;
    font-family:'Roboto',sans-serif;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 2rem;
    background-color:#d3d3d3 ;

}
